name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - uses: subosito/flutter-action@v2
      - run: |
          pip install flet
          flet build apk --verbose
      - uses: actions/upload-artifact@v3
        with:
          name: TikDownloader_APK
          path: build/apk/**/*.apk
